/*Reset*/

*, *::before, *::after {
    box-sizing: border-box;
  }
  
* {
    margin: 0;
}
  
@media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
    }
}
  
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
  
 
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
  
input, button, textarea, select {
    font: inherit;
}
  
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
  
p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}
  
#root, #__next {
    isolation: isolate;
}

/*My code*/

@font-face {
    font-family: 'Montserrat';
    src: url(Montserrat.woff2);
}
:root {
    --arabic-green:	#799a51;
    --arabic-brown:	#5f5748;
    --text-black: #333333;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat', system-ui;
    color: var(--text-black);
}

header {
    padding-block: 15px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    color: var(--arabic-brown);
}

header h1 span {
    color: var(--arabic-green);
}

button {
    background-color: var(--arabic-green);
    border: 2px solid var(--arabic-green);
    border-radius: 0.35rem;
    padding: 8px 16px;
    color: white;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    font-size: 1.2rem;
}

header button:hover {
    color: var(--arabic-green);
    background-color: white;
}

footer {
    font-size: 1.2rem;
    padding-block: 10px;
}

footer a {
    color: var(--arabic-green);
    text-decoration: none;
}

h1 {
    font-size: 2.7rem;
}

.content {
    position: relative;
    flex: 1;
    width: 100%;
}

.modal {
    position: fixed;
    margin: auto;
    inset: 0 0 0 0;
    border: 3px solid var(--arabic-brown);
    border-radius: 1rem;
    padding: 0;
}

.modal > div {
    padding: 30px;
}

.modal > div > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.modal h2 {
    color: var(--arabic-brown);
    font-size: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

input {
    border: 1px solid var(--text-black);
    padding: 2px 4px;
}

input:disabled {
    background-color: #dfdfdf;
    cursor: not-allowed;
}


input:focus {
    outline: 1px solid var(--arabic-brown);
}

.close {
    position: absolute;
    top: 0;
    right: 0px;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 5px;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 100px 100px;
}

.books__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    gap: 20px;
}

.book__card {
    padding: 20px;
    border: 3px solid var(--arabic-brown);
}

.book__card h2 {
    text-align: center;
}

progress {
    background: var(--arabic-green);
    accent-color: var(--arabic-green);
}

.no__books {
    margin: auto;
}

